<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kakao Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">간편 회원가입</h1>
    <p>이메일을 등록해주세요</p>
    <form th:action="@{/kakao/register}" th:object="${memberDto}" method="post">
        <input type="hidden" name="accessToken" th:value="${accessToken}" />
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">등록하기</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
